<a href="https://colab.research.google.com/github/Susheel06/assignment1/blob/main/Assignment1_Ques2%263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **QUESTION 2 AND 3**

In [268]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split as tts
import matplotlib.pyplot as plt
import tensorflow as tf
import seaborn as sns
import requests

from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

#### Importing dataset from github repo:

In [269]:
!git clone https://github.com/Susheel06/assignment1.git

fatal: destination path 'assignment1' already exists and is not an empty directory.

In [270]:
df = pd.read_csv('/content/assignment1/winequality-red.csv')
df1 = pd.read_csv('/content/assignment1/winequality-red.csv')
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

#### Standardising the data to nullify the effects of outliers:

In [271]:
y_train = df[['quality']]
y_train.head()
df.drop(columns = ['quality'], axis = 1, inplace = True)

x = pd.DataFrame(data = df.values, columns= df.columns)

scaler = StandardScaler()
df = pd.DataFrame(data = scaler.fit_transform(df), columns=df.columns)

df.insert(loc=len(df.columns),column='quality', value= y_train)
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates   alcohol  quality
0      -0.528360          0.961877    -1.391472  ...  -0.579207 -0.960246        5
1      -0.298547          1.967442    -1.391472  ...   0.128950 -0.584777        5
2      -0.298547          1.297065    -1.186070  ...  -0.048089 -0.584777        5
3       1.654856         -1.384443     1.484154  ...  -0.461180 -0.584777        6
4      -0.528360          0.961877    -1.391472  ...  -0.579207 -0.960246        5

[5 rows x 12 columns]

#### Splitting the dataset in the ratio of 7:3 for training and testing:

In [272]:
train, test = tts(df, test_size = 0.3, shuffle= True)

train.head()

      fixed acidity  volatile acidity  ...   alcohol  quality
1505      -0.930531          1.297065  ... -0.443976        3
925        0.161077         -1.719632  ...  0.541630        7
659       -0.700719          1.743983  ...  0.541630        4
221       -0.528360          0.012176  ... -0.960246        5
767       -0.470907          0.403229  ... -0.866379        5

[5 rows x 12 columns]

In [273]:
y_train = train[['quality']]
x_train = train.drop(columns = ['quality'], axis = 1)

y_test = test[['quality']]
x_test = test.drop(columns = ['quality'], axis = 1)

y_train.head()

print(x_train.shape)
print(y_train.shape)

(1119, 11)
(1119, 1)

#### Converting the ordinal output data to categorical data with a threshold of 7:

In [274]:
y_train1 = pd.DataFrame(data = y_train.values, columns=y_train.columns, dtype=int, copy=True)

y_train.loc[y_train['quality'] < 7] = 0
y_train.loc[y_train['quality'] >= 7] = 1


y_test.loc[y_test['quality'] < 7] = 0
y_test.loc[y_test['quality'] >= 7] = 1

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#### Model 1: Logistic Regression:

In [275]:
from sklearn.linear_model import LogisticRegression

model_logistic = LogisticRegression().fit(x_train, y_train)

y_result = pd.DataFrame(data = model_logistic.predict(x_test), dtype=int)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

#### Model 1 results:

In [276]:
print('Accuracy: %.2f' % roc_auc_score(y_test, y_result))
print('F1_Score: %.2f' % f1_score(y_test, y_result))
print('Precision: %.2f' % precision_score(y_test, y_result))
print('Recall: %.2f' % recall_score(y_test, y_result))

confus_mat = confusion_matrix(y_test, y_result)


l1 = (confus_mat[0][0])/(confus_mat[0][0] + confus_mat[0][1])
print('Sensitivity: %0.2f' % l1)

l2 = (confus_mat[1][1])/(confus_mat[1][0] + confus_mat[1][1])
print('Specificity: %0.2f' % l2)

Accuracy: 0.70
F1_Score: 0.48
Precision: 0.49
Recall: 0.48
Sensitivity: 0.93
Specificity: 0.48

#### Model 2: Linear Regression as a Classifier

In [277]:
y_train1.head()

   quality
0        3
1        7
2        4
3        5
4        5

In [278]:
from sklearn.linear_model import LinearRegression

model_lr_classification = LinearRegression().fit(x_train, y_train1)

y_result = pd.DataFrame(data = model_lr_classification.predict(x_test), columns= y_train1.columns)

y_result.loc[y_result['quality'] < 7] = 0
y_result.loc[y_result['quality'] >= 7] = 1

#### Model 2 results:

In [279]:
print('Accuracy: %.2f' % roc_auc_score(y_test, y_result))
print('F1_Score: %.2f' % f1_score(y_test, y_result))
print('Precision: %.2f' % precision_score(y_test, y_result))
print('Recall: %.2f' % recall_score(y_test, y_result))

confus_mat = confusion_matrix(y_test, y_result)


l1 = (confus_mat[0][0])/(confus_mat[0][0] + confus_mat[0][1])
print('Sensitivity: %0.2f' % l1)

l2 = (confus_mat[1][1])/(confus_mat[1][0] + confus_mat[1][1])
print('Specificity: %0.2f' % l2)

Accuracy: 0.50
F1_Score: 0.00
Precision: 0.00
Recall: 0.00
Sensitivity: 1.00
Specificity: 0.00

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

#### Model 3: SVM with Polynomial kernel and degree 3

In [280]:
from sklearn import svm

clf = svm.SVC(kernel='poly')
clf.fit(x_train, y_train)

y_result = pd.DataFrame(data = clf.predict(x_test), dtype=int)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

#### Model 3 results:

In [281]:
print('Accuracy: %.2f' % roc_auc_score(y_test, y_result))
print('F1_Score: %.2f' % f1_score(y_test, y_result))
print('Precision: %.2f' % precision_score(y_test, y_result))
print('Recall: %.2f' % recall_score(y_test, y_result))

confus_mat = confusion_matrix(y_test, y_result)


l1 = (confus_mat[0][0])/(confus_mat[0][0] + confus_mat[0][1])
print('Sensitivity: %0.2f' % l1)

l2 = (confus_mat[1][1])/(confus_mat[1][0] + confus_mat[1][1])
print('Specificity: %0.2f' % l2)

Accuracy: 0.70
F1_Score: 0.51
Precision: 0.63
Recall: 0.43
Sensitivity: 0.96
Specificity: 0.43

#### Model 4: Naive Bayes Classifier

#### Performing Normalization:

In [282]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

y_train = df1[['quality']]
y_train.head()

df1.drop(columns = ['quality'], axis = 1, inplace = True)

df1 = pd.DataFrame(data = scaler.fit_transform(df1), columns=df1.columns)

df1.insert(loc=len(df1.columns),column='quality', value= y_train)
df1.head()

train, test = tts(df1, test_size = 0.3, shuffle=True)
train.head()

      fixed acidity  volatile acidity  ...   alcohol  quality
67         0.176991          0.400685  ...  0.353846        5
594        0.292035          0.410959  ...  0.169231        5
541        0.433628          0.232877  ...  0.400000        6
1595       0.115044          0.294521  ...  0.430769        6
980        0.398230          0.260274  ...  0.323077        6

[5 rows x 12 columns]

#### Ordinal output data to categorical output:

In [283]:
y_train = train[['quality']]
x_train = train.drop(columns = ['quality'], axis = 1)

y_test = test[['quality']]
x_test = test.drop(columns = ['quality'], axis = 1)

y_train.loc[y_train['quality'] < 7] = 0
y_train.loc[y_train['quality'] >= 7] = 1

y_test.loc[y_test['quality'] < 7] = 0
y_test.loc[y_test['quality'] >= 7] = 1

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [284]:
from sklearn.naive_bayes import GaussianNB

clf_nb = GaussianNB()
clf_nb.fit(x_train, y_train)

y_result = pd.DataFrame(data = clf_nb.predict(x_test), dtype=int)
y_result.head()

/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   0
0  0
1  1
2  0
3  0
4  0

#### Model 4 results:

In [285]:
print('Accuracy: %.2f' % roc_auc_score(y_test, y_result))
print('F1_Score: %.2f' % f1_score(y_test, y_result))
print('Precision: %.2f' % precision_score(y_test, y_result))
print('Recall: %.2f' % recall_score(y_test, y_result))

confus_mat = confusion_matrix(y_test, y_result)


l1 = (confus_mat[0][0])/(confus_mat[0][0] + confus_mat[0][1])
print('Sensitivity: %0.2f' % l1)

l2 = (confus_mat[1][1])/(confus_mat[1][0] + confus_mat[1][1])
print('Specificity: %0.2f' % l2)

Accuracy: 0.78
F1_Score: 0.60
Precision: 0.53
Recall: 0.68
Sensitivity: 0.89
Specificity: 0.68